apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{db_app_name}}"
  labels:
    app: "{{db_app_name}}"
spec:
  selector:
    matchLabels:
      app: "{{db_app_name}}"
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 0
      maxUnavailable: 1
  template:
    metadata:
      labels:
        app: "{{db_app_name}}"
        role: "{{db_app_role}}"
    spec:
      nodeSelector:
        failure-domain.beta.kubernetes.io/zone: "{{zone}}"
      containers:
        - name: mysql
          image: "{{db_mysql_image}}"
{% if db_resources is defined %}
          resources:
{% if db_resources.requests is defined %}
            requests:
{% if db_resources.requests.memory is defined %}
              memory: "{{db_resources.requests.memory}}"
{% endif %}
{% if db_resources.requests.cpu is defined %}
              cpu: "{{db_resources.requests.cpu}}"
{% endif %}
{% endif %}
{% if db_resources.limits is defined %}
            limits:
{% if db_resources.limits.memory is defined %}
              memory: "{{db_resources.limits.memory}}}"
{% endif %}
{% if db_resources.limits.cpu is defined %}
              cpu: "{{db_resources.limits.cpu}}"
{% endif %}
{% endif %}
{% endif %}
          ports:
          - name: mysql
            containerPort: 3306
          env:
            - name: MYSQL_DATABASE
              value: "{{db_database}}"
            - name: MYSQL_USER
              value: "{{db_username}}"
            - name: MYSQL_PASSWORD
              value: "{{db_password}}"
{% if db_root_password is defined %}
            - name: MYSQL_ROOT_PASSWORD
              value: "{{db_root_password}}"
{% else %}
            - name: MYSQL_RANDOM_ROOT_PASSWORD
              value: "yes"
{% endif %}
          volumeMounts:
          - name: db-volume
            subPath: mysql
            mountPath: /var/lib/mysql
      volumes:
        - name: db-volume
          gcePersistentDisk:
            pdName: "{{db_volume}}"
            fsType: ext4
